# general things to ignore
coverage.xml
.coverage
.DS_Store
coverage_html_report
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*.eggs
*~
.idea
venv*
*.class

# due to using tox and pytest
.tox
.cache
